:root{
    --primary-color: #4a90e2;
    --secondary-color: #50e3c2;
    --font-color: #333333;
    --background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, p, span, a, li {
    font-family: 'Arial', sans-serif;
    color: white;
}